@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Expenses" class="btn btn-primary">Overview</a>
    <a asp-action="CreateExpense" class="btn btn-primary">Create</a>
</div>
