@{
    ViewData["Title"] = "Oferta";
}


<section class="home-one">
    <div class="container">
        <div class="col-lg-10 m-auto">
            <div class="home_content home1_style">
                <div class="home-text text-center mb30 d-none d-sm-block">
                    <h2 class="title" style="color: #5F6973; font-size: 30px"><span class="aminated-object1"></span>OFERTA DE AVALIAÇÃO</h2>
                </div>
                <!-- Linha do Tempo -->
                <nav class="navbar justify-content-center d-block mb-5">
                    <div class="" id="conteudoNavbarSuportado">
                        <ul class="nav nav-pills nav-fill">
                            <li class="nav-item d-none d-sm-block d-md-block">
                                1. INFORMAÇÕES SOBRE O VEÍCULO
                            </li>
                            <li class="nav-item d-none d-sm-block d-md-block">
                                2. ESTADO DO VEÍCULO
                            </li>
                            <li class="nav-item d-none d-sm-block d-md-block">
                                3. PERFIL
                            </li>                            
                            <li class="nav-item">
                                4. A TUA OFERTA
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container col-10">
                    <div class="col-12">
                        <form class="mb-3">
                            <div class="mb-3">
                                <h3>Olá Sr. Marco</h3>
                            </div>
                            <div class="mb-3">
                                <h5>Obrigado pela tua confiança!</h5> 
                            </div>
                        </form>
                        <form class="container border border-primary p-3 mb-3">
                            <div class="row">
                                <div class="mb-3">
                                    <h3>O TEU VEÍCULO</h3>
                                </div>
                                <div class="col-2">
                                    <div class="form-text m-0">Marca</div>
                                    <label class="form-label m-0">MARCA</label>
                                </div>
                                <div class="col-2">
                                    <div class="form-text m-0">Modelo</div>
                                    <label class="form-label">MODELO</label>
                                </div>
                                <div class="col-4">
                                    <div class="form-text m-0">Versão</div>
                                    <label class="form-label">VERSÃO</label>
                                </div>
                                <div class="col-4">
                                    <div class="form-text m-0">Quilometragem</div>
                                    <label class="form-label">QUILOMETRAGEM</label>
                                </div>
                            </div>
                        </form>
                        <div class="advance_search_panel">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-5">
                                    <div class="adss_bg_stylehome1 h-75 mt-5">
                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-allstatus" role="tabpanel" aria-labelledby="pills-allstatus-tab">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="home1_advance_search_wrapper">
                                                            <div class="row">
                                                                <form action="/Home/PesquisaPorMatriculaNova">
                                                                    <div class="col-12">
                                                                        <h6 class="title text-center mb-4">E AGORA?</h6>                                                                        
                                                                    </div>                                                                    
                                                                    <div class="container border border-primary mb-3">
                                                                        Receberás um email com a vossa avaliação ainda hoje. Entraremos em contatcto a fim de marcarmos uma reunião em conjunto.
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="mt-5 d-flex justify-content-center">
                                        <div class="row" style="margin-top: 150px" ;>
                                            <div class="col-1">
                                                <h6 class="title text-separator">E</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="adss_bg_stylehome1 h-75 mt-5">
                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-allstatus" role="tabpanel" aria-labelledby="pills-allstatus-tab">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="home1_advance_search_wrapper">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <h6 class="title text-center">DESCUBRA TODOS OS NOSSOS AUTOMÓVEIS</h6>
                                                                    <div class="row">
                                                                        <img class="imgCenter" src="/images/brands/car-example.jpg" alt="logo-automobiles.jpg">
                                                                        <div class="col-12 pt-4">
                                                                            <a type="submit" href="https://www.autoleandrosantos.pt/Viaturas" class="btn w-100 btn-thm advnc_search_form_btn"><span class="flaticon-right-arrow"></span>VER AUTOMÓVEIS</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 offset-lg-3">
                                    <div class="main-title text-center">
                                        <h2 class="text">Popular Listings</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="home1_popular_listing">
                                    <div class="listing_item_4grid_slider dots_none">
                                        <div class="item">
                                            <div class="car-listing">
                                                <div class="thumb">
                                                    <div class="tag">OFERTA</div>
                                                    <img src="/images/brands/car-example.jpg" alt="1.jpg">
                                                </div>
                                                <div class="details">
                                                    <div class="wrapper">
                                                        <h6 class="title">Als Compra</a></h6>
                                                    </div>
                                                    <div class="listing_footer">
                                                        <h5>DESCUBRA OS NOSSOS CARROS EM ESTOQUE</h5>
                                                    </div>
                                                    <div class="col-12 pt-4">
                                                        <button class="btn btn-thm w-100  advnc_search_form_btn"><span class="flaticon-right-arrow"></span><h5>VISITAR</h5></button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="car-listing">
                                                <div class="thumb">
                                                    <div class="tag">OFERTA</div>
                                                    <img src="/images/brands/car-example.jpg" alt="1.jpg">
                                                </div>
                                                <div class="details">
                                                    <div class="wrapper">
                                                        <h6 class="title">Als Compra</a></h6>
                                                    </div>
                                                    <div class="listing_footer">
                                                        <h5>DESCUBRA OS NOSSOS CARROS EM ESTOQUE</h5>
                                                    </div>
                                                    <div class="col-12 pt-4">
                                                        <button class="btn btn-thm w-100  advnc_search_form_btn"><span class="flaticon-right-arrow"></span><h5>VISITAR</h5></button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="car-listing">
                                                <div class="thumb">
                                                    <div class="tag">OFERTA</div>
                                                    <img src="/images/brands/car-example.jpg" alt="1.jpg">
                                                </div>
                                                <div class="details">
                                                    <div class="wrapper">
                                                        <h6 class="title">Car Out</a></h6>
                                                    </div>
                                                    <div class="listing_footer">
                                                        <h5>DESCUBRA OS NOSSOS CARROS EM ESTOQUE</h5>
                                                    </div>
                                                    <div class="col-12 pt-4">
                                                        <button class="btn btn-thm w-100  advnc_search_form_btn"><span class="flaticon-right-arrow"></span><h5>VISITAR</h5></button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="car-listing">
                                                <div class="thumb">
                                                    <div class="tag">OFERTA</div>
                                                    <img src="/images/brands/car-example.jpg" alt="1.jpg">
                                                </div>
                                                <div class="details">
                                                    <div class="wrapper">
                                                        <h6 class="title">Auto Leandro Santos</a></h6>
                                                    </div>
                                                    <div class="listing_footer">
                                                        <h5>DESCUBRA OS NOSSOS CARROS EM ESTOQUE</h5>
                                                    </div>
                                                    <div class="col-12 pt-4">
                                                        <button class="btn btn-thm w-100  advnc_search_form_btn"><span class="flaticon-right-arrow"></span><h5>VISITAR</h5></button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




