@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">School Grade</h1>
    <p>Find your grade: </p>
    <input class="nameSearch" placeholder="Type your name"/>
    <div class="d-flex justify-content-center">
        <div class="p-2 nameSearch">
            <h2>Student List</h2>
            <p>Sophia</p>
            <p>Nicolas</p>
            <p>Zahirah</p>
            <p>Jeong</p>
        </div>
        <div class="p-2 nameGrade">
            <h2>Grade</h2>
            <p>94.6  A</p>
            <p>83.6  B</p>
            <p>83.4  B</p>
            <p>95.4  A</p>
        </div>
    </div>

</div>

